@import url("/styles.css");
@import url("/main/main.css");

.main-image-container {
    margin-top: 1rem;
    background-color: aqua;
    grid-area: main;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 4px;
}

.component-heading {
    margin: 2rem 0 0 5rem;
    color: blue;
    font-size: 2.5rem;
}

.component-description {
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
    width: 900px;
    padding-left: 5rem;
}

.responsive-image {
    width: 100%;
    height: 100%;
}

.responsive-image img {
    width: 30%;
    height: auto;
    margin: 4rem;
}

.carbon-container {
    padding-left: 8rem;
}

.rounded-image img {
    width: 15rem;
    height: 15rem;
    margin: 4rem;
    border-radius: 50%;
}